<div ng-controller="NavigableTableCtrl">
	<div class="container">
		<div class="well well-sm">			
			Notice that ag-navigable-table ignores cells with no input in them, and only considers the first input in a cell with
			multiple inputs. It skips over text, and can find inputs nested within other elements within the TD.	 
		</div>
		
		<div style="margin-bottom:10px">				
					<span class="label label-primary" style="font-size:10pt;padding:9px;">{{modeName(true)}} Mode</span>
					<button class="btn btn-default" ng-click="toggleMode()">Switch to {{modeName(false)}} Mode</button>
					<button class="btn btn-default" ng-click="hideSome = !hideSome">
						<span ng-show="hideSome">Show All Rows</span>
						<span ng-show="!hideSome">Hide Some Rows</span>		
					</button>				
			
		</div>		
		<div>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Static Text</th>
						<th>Text Input</th>		
						<th>Static Text</th>
						<th>
							Two Numeric Inputs
						</th>
						<th>Text Input</th>
					</tr>
				</thead>
				<tbody ag-navigable-table="{{mode.value}}" ng-repeat="mode in modes" ng-show="mode.show">	
					<tr ng-repeat="item in items" ng-show="show($index)">
						<td>{{$index}}</td>
						<td>
							<input type = "text"/>
						</td>		
						<td>
							<span class="label label-warning">No input in this TD</span>
						</td>
						<td>			
							<div class="row">
								<div class="col-md-4">Some text</div>
								<div class="col-md-4"><input type = "number"/></div>
								<div class="col-md-4"><input type = "number"/></div>
							</div>			
						</td>
						<td>
							<input type = "text"/>
						</td>
					</tr>
					<tr>
						<td colspan="5">Here's a TR with some text in it, breaking up the table. We just skip right over it, like it isn't there.
						Support for varying colspans isn't really there yet, though.</td>
					</tr>
					<tr ng-repeat="item in items" ng-show="show($index)">
						<td>{{$index}}</td>
						<td><input type="text" /></td>
						<td></td>
						<td colspan="2"><input type="numeric" value="colspan = '2'"></td>		
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
</div>	
